TrueSTUDIO/
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/AutoPCH/200c.ast
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/AutoPCH/200c.psf
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/000/Files.idx
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/000/GlobalTrees.dat
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/000/MacroRefs.dat
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/000/Names.idx
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/000/SymbolDefs.dat
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/000/SymbolRefs.dat
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalFileTable.000
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalFileTable.001
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/clock_f4.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/clock_f4.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/clock_f4.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/codedb.lck
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/main.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/main.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/main.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/sch_hlp.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/sch_hlp.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/sch_hlp.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stepper_ctrl.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_hal_msp.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_hal_uart-00001.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_hal_uart-00001.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_hal_uart-00001.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_it.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_it.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_it.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_nucleo.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/stm32f4xx_nucleo.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/system_stm32f4xx.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/system_stm32f4xx.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/tmp00000006.npa
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/tmp00000006.npd
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/tmp00000006.rdb
VisualGdb/heatCtrl/Debug/clock_f4.dep
VisualGdb/heatCtrl/Debug/clock_f4.o
VisualGdb/heatCtrl/Debug/cmd.dep
VisualGdb/heatCtrl/Debug/cmd.o
VisualGdb/heatCtrl/Debug/heatCtrl.bin
VisualGdb/heatCtrl/Debug/heatCtrl.elf
VisualGdb/heatCtrl/Debug/l6474.dep
VisualGdb/heatCtrl/Debug/l6474.o
VisualGdb/heatCtrl/Debug/main.dep
VisualGdb/heatCtrl/Debug/main.o
VisualGdb/heatCtrl/Debug/motorcontrol.dep
VisualGdb/heatCtrl/Debug/motorcontrol.o
VisualGdb/heatCtrl/Debug/sch_hlp.dep
VisualGdb/heatCtrl/Debug/sch_hlp.o
VisualGdb/heatCtrl/Debug/startup_stm32f401xe.dep
VisualGdb/heatCtrl/Debug/startup_stm32f401xe.o
VisualGdb/heatCtrl/Debug/stepper_ctrl.dep
VisualGdb/heatCtrl/Debug/stepper_ctrl.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_cortex.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_cortex.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_flash.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_flash.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_flash_ex.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_flash_ex.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_gpio.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_gpio.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_msp.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_msp.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_rcc.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_rcc.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_rcc_ex.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_rcc_ex.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_spi.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_spi.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_tim.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_tim.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_tim_ex.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_tim_ex.o
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_uart.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_hal_uart.o
VisualGdb/heatCtrl/Debug/stm32f4xx_it.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_it.o
VisualGdb/heatCtrl/Debug/stm32f4xx_nucleo.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_nucleo.o
VisualGdb/heatCtrl/Debug/stm32f4xx_nucleo_ihm01a1.dep
VisualGdb/heatCtrl/Debug/stm32f4xx_nucleo_ihm01a1.o
VisualGdb/heatCtrl/Debug/system_stm32f4xx.dep
VisualGdb/heatCtrl/Debug/system_stm32f4xx.o
VisualGdb/heatCtrl/Debug/uart2.dep
VisualGdb/heatCtrl/Debug/uart2.o
VisualGdb/heatCtrl/Makefile.old
VisualGdb/heatCtrl/VisualGDBCache/heatCtrl-Debug/MemoryUtilizationReport.xml
VisualGdb/heatCtrl/debug.mak
VisualGdb/heatCtrl/debug.mak.old
VisualGdb/heatCtrl/gcc_Debug.h
VisualGdb/heatCtrl/gcc_Release.h
VisualGdb/heatCtrl/heatCtrl-Debug.vgdbsettings
VisualGdb/heatCtrl/heatCtrl-Release.vgdbsettings
VisualGdb/heatCtrl/heatCtrl.vcxproj.filters
VisualGdb/heatCtrl/release.mak
VisualGdb/heatCtrl/stm32.mak
VisualGdb/heatCtrl/stm32.xml
*.o
*.npa
*.npd
*.dep
*.cd
*.ast
*.psf
*.rdb
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/001/Files.idx
*.dat
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalCache/001/Names.idx
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32.0001/codedb.lck
