TrueSTUDIO/
VisualGdb/heatCtrl/CodeDB/
VisualGdb/heatCtrl/Debug/
VisualGdb/heatCtrl/VisualGDBCache/
*.o
*.npa
*.npd
*.dep
*.cd
*.ast
*.psf
*.rdb
*.dat
*.opendb
*.filters
*.db
*.idx
*.dat
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalFileTable.000
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/GlobalFileTable.001
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32/codedb.lck
VisualGdb/heatCtrl/Makefile.old
VisualGdb/heatCtrl/VisualGDBCache/heatCtrl-Debug/MemoryUtilizationReport.xml
VisualGdb/heatCtrl/debug.mak
VisualGdb/heatCtrl/debug.mak.old
VisualGdb/heatCtrl/gcc_Debug.h
VisualGdb/heatCtrl/gcc_Release.h
VisualGdb/heatCtrl/heatCtrl-Debug.vgdbsettings
VisualGdb/heatCtrl/heatCtrl-Release.vgdbsettings
VisualGdb/heatCtrl/heatCtrl.vcxproj.filters
VisualGdb/heatCtrl/release.mak
VisualGdb/heatCtrl/stm32.mak
VisualGdb/heatCtrl/stm32.xml
VisualGdb/heatCtrl/CodeDB/heatCtrl-Debug-Win32.0001/codedb.lck

*.html
